apiVersion: apps/v1
kind: Deployment
metadata:
  name: second-app-deployment
  labels:
    group: example
spec:
  replicas: 3
  selector:
    # matchLabels:
    #   app: second-app
    #   tier: backend
    matchExpressions:
      - key: app
        operator: In
        values:
          - first-app
          - second-app
      - key: tier
        operator: In
        values:
          - backend
      # - key: gay
      #   operator: NotIn
      #   values:
      #     - true
  template:
    metadata:
      labels:
        app: second-app
        tier: backend
    spec:
      containers:
        - name: second-node
          image: anhnguyen75/kub-first-app:4
          imagePullPolicy: Always
          livenessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 5
            periodSeconds: 10
            timeoutSeconds: 1
            failureThreshold: 3
        # - name:
        #   image:
